# Dependency directories
node_modules/
jspm_packages/
venv/
.venv/
env/
.env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Databases
*.db
*.sqlite

# Next.js build output
.next/
out/

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
